<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground</title>
  </head>
  <body>
    <h1>Hello, {{your_name}}</h1>
    <p>{{ api['language'] }}</p>
    <img src="../static/me-bw.png" alt="me" height="200" width="auto" />
    <ul>
      {% for item in a_list %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
    <div>
      {% if user_logged_in %}
      <p>Welcome, you are now logged in.</p>
      {% else %}
      <p>Please log in.</p>
      {% endif %}
    </div>
  </body>
</html>
